.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.glide__slides {
  width: 200%;
  list-style: none;
  overflow: hidden;
  padding: 0;
  display: flex;
}

.glide__slide {
  position: relative;
}
.glide__slide-active {
  animation: glide 1s ease-in forwards;
}

@keyframes glide {
  0% {
    transform: translateX();
  }

  100% {
    transform: translateX(-50%);
  }
}

.glide__slide img {
  width: 100%;
  object-fit: cover;
}

.glide__slide .banner {
  background: #424242;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: rgb(220, 226, 231);
  max-width: 60%;
  text-align: center;
}

.slide-caption h1 {
  font-size: 54px;
  font-weight: 600;
  opacity: 0;
  animation: slowly 1s ease-in 0.5s 1 forwards;
}

.slide-caption h3 {
  font-size: 24px;
  margin: 30px 0;
  opacity: 0;
  animation: slowly 1s ease-in 1s 1 forwards;
}

.slide-caption .btn {
  padding: 13px 27px;
  color: rgb(220, 226, 231);
  border-radius: 5px;
  border: 2px solid rgb(220, 226, 231);
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  outline: none;
  opacity: 0;
  animation: slowly 1s ease-in 1.5s 1 forwards;
  z-index: 9;
}

.slide-caption .btn:hover {
  color: #61baf1;
  border-color: #61baf1;
  transition: all 0.3s;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--right {
  right: 2em;
}

.glide__arrow--left {
  left: 2em;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

@keyframes slowly {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
