* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}
body {
  height: 100%;
}
/* footer */
footer {
  margin-top: 124px;
  background-color: #142740;
  display: grid;
  justify-items: center;
  padding-top: 72px;
  padding-bottom: 24px;
}

.footer-menus {
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  position: relative;
  color: rgb(220, 226, 231);
}

.contact-us {
  justify-self: center;
}

.footer-menu {
  justify-self: center;
}

.menu-title {
  margin-bottom: 20px;
}

.menu-items li {
  list-style: none;
  padding-bottom: 8px;
}

.menu-items li a {
  text-decoration: none;
  font-weight: 300;
  color: rgb(220, 226, 231);
}

.icp-info {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 10px 0;
}

.rights {
  grid-column: 1 / -1;
  justify-self: center;
}
/* 回到顶部 */
.scrollToTop {
  /* display: none; */
  position: relative;
  z-index: 100;
}
.scrollToTop a {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61baf1;
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 14px;
  cursor: pointer;
  
}

/* main */

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  display: grid;
  justify-items: center;
  max-width: 100%;
}

section h2 {
  color: black;
  font-size: 34px;
}
section h2::after {
  content: '';
  display: block;
  width: 80%;
  height: 4px;
  background-color: #61baf1;
  margin: 0 auto;
  margin-top: 14px;
}
section > p {
  margin: 27px 0 60px 0;
  font-size: 18px;
  color: #727272;
}

/* 合作案例 */
#showcase {
  margin: 50px;
}
.row {
  display: flex;
  left: 0;
  right: 0;
}
.image-wrapper {
  position: relative;
  width: 65vw;
  height: 55vw;
}
.image-wrapper img {
  display: block;
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.row > .col.vertical-center {
  display: flex;
  align-items: center;
}
.row > .col {
  max-width: 50%;
  flex: 1;
}
.row > .col .text {
  display: block;
  max-width: 70%;
}
.row > .col .text p {
  margin-bottom: 20px;
}
.row > .col .text h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
  font-size: 28px;
}
.row > .col .text a {
  color: #3475c6;
  text-decoration: none;
}

/* team */
.team {
  padding: 100px;
}
.team-members {
  margin-top: 76px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}
.team-member {
  background-color: white;
  text-align: center;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
}
.profile-image {
  width: 100%;
  overflow: hidden;
}
.profile-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: top center;
}
.team-member:hover {
  transform:translate3d(0, -40px, -80px);
  box-shadow: 10px 0 47px rgba(0, 0, 0, 0.2);
}
.team-member .name {
  margin-top: 18px;
  font-size: 17px;
  font-weight: 500;
  color: #494949;
}
.team-member .position {
  font-size: 14px;
  margin-top: 5px;
  color: var(--text-color-dark-gray);
}
.team-member .social-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px 50px ;
}

.social-links li {
  list-style: none;
}
.social-links li a {
  color: #494949;
  text-decoration: none;
  font-size: 20px;
}


