* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 72px;
  display: grid;
  position: absolute;
  top: 0;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  z-index: 300;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #e7e9ec;
  justify-self: center;
}

.nav {
  justify-self: center;
  display: block;
}

header .nav a {
  text-decoration: none;
  margin: 0 17px;
  position: relative;
  color: #e7e9ec;
}

header .nav a.active {
  color: #61baf1;
}

header .nav a:hover {
  color: #61baf1;
}

header .nav a.active::after {
  display: block;
  content: '';
  height: 4px;
  background-color: #61baf1;
  width: 0%;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 10px;
  animation: highLine 0.3s linear forwards;
}

@keyframes highLine {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* -------------------------------------------------footer---- */
footer {
  margin-top: 124px;
  background-color: #142740;
  display: grid;
  justify-items: center;
  padding-top: 72px;
  padding-bottom: 24px;
}

.footer-menus {
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  position: relative;
  color: rgb(220, 226, 231);
}

.contact-us {
  justify-self: center;
}

.footer-menu {
  justify-self: center;
}

.menu-title {
  margin-bottom: 20px;
}

.menu-items li {
  list-style: none;
  padding-bottom: 8px;
}

.menu-items li a {
  text-decoration: none;
  font-weight: 300;
  color: rgb(220, 226, 231);
}

.icp-info {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 10px 0;
}

.rights {
  grid-column: 1 / -1;
  justify-self: center;
}
/* 回到顶部 */
.scrollToTop {
  /* display: none; */
  position: relative;
  z-index: 300;
}
.scrollToTop a {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61baf1;
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 14px;
}
/* .fa-chevron-up:before {
        content: '\f077';
      } */
/* ------------------------------------------main----- */
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: #000;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  /* backface-visibility: hidden; */
  /* transform-style: preserve-3d; */
  /* touch-action: pan-Y; */
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.glide__slides img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: rgb(220, 226, 231);
  max-width: 60%;
  text-align: center;
}

.slide-caption h1 {
  font-size: 54px;
  font-weight: 600;
}

.slide-caption h3 {
  font-size: 24px;
  margin: 30px 0;
}

.slide-caption .btn {
  padding: 13px 27px;
  color: rgb(220, 226, 231);
  border-radius: 5px;
  border: 2px solid rgb(220, 226, 231);
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.slide-caption .btn:hover {
  color: #61baf1;
  border-color: #61baf1;
  transition: all 0.3s;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--right {
  right: 2em;
}

.glide__arrow--left {
  left: 2em;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
/* section */
.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  display: grid;
  justify-items: center;
}
#about {
  padding: 70px 80px 32px;
}
section h2 {
  color: black;
  font-size: 34px;
}
section h2::after {
  content: '';
  display: block;
  width: 80%;
  height: 4px;
  background-color: #61baf1;
  margin: 0 auto;
  margin-top: 14px;
}
section > p {
  margin: 27px 0 60px 0;
  font-size: 18px;
  color: #727272;
}
/* 关于我们 */
.features {
  display: grid;
  grid-template-rows: 126px 126px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5vw;
  row-gap: 2vwk;
}
.feature {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
    'icon title'
    'icon content';
}
.feature .fas {
  grid-area: icon;
  font-size: 32px;
  color: var(--primary-color);
}
.fa-lightbulb:before {
  content: '\f0eb';
}
.fa-chart-line:before {
  content: '\f201';
}
.fa-shopping-cart:before {
  content: '\f07a';
}
.fa-desktop:before {
  content: '\f108';
}
.fa-tachometer-alt:before {
  content: '\f3fd';
}
.fa-server:before {
  content: '\f233';
}
.feature-content {
  color: #727272;
  margin-top: 7px;
}
/* 合作案例 */
.row {
  max-width: 100vw;
}
.row {
  display: flex;
  
  left: 0;
  right: 0;
  margin: 0 auto;
}
.image-wrapper {
  position: relative;
  width: 65vw;
  height: 55vw;
}
.image-wrapper img {
  display: block;
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.row > .col.vertical-center {
  display: flex;
  align-items: center;
}
.row > .col {
  max-width: 50%;
  flex: 1;
}
.row > .col .text {
  display: block;
  max-width: 70%;
}
.row > .col .text p {
  margin-bottom: 20px;
}
.row > .col .text h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
  font-size: 28px;
}
.row > .col .text a {
  color: #3475c6;
  text-decoration: none;
}
/* data */
.data {
  max-width: unset;
  width: 100vw;
  height: 256px;
  background-image: url(https://puui.qpic.cn/fans_admin/0/3_15881579_1584935789245/0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.data-piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 30;
}
.data-piece .fas {
  font-size: 47px;
}
.data-piece .num {
  margin-top: 20px;
  font-size: 37px;
}
.data-piece .data-desc {
  font-size: 18px;
  font-weight: 500;
}
