* {
  padding: 0;
  margin: 0;
}



/* -------------------------------------------------footer---- */
footer {
  margin-top: 124px;
  background-color: #142740;
  display: grid;
  justify-items: center;
  padding-top: 72px;
  padding-bottom: 24px;
}

.footer-menus {
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  position: relative;
  color: rgb(220, 226, 231);
}

.contact-us {
  justify-self: center;
}

.footer-menu {
  justify-self: center;
}

.menu-title {
  margin-bottom: 20px;
}

.menu-items li {
  list-style: none;
  padding-bottom: 8px;
}

.menu-items li a {
  text-decoration: none;
  font-weight: 300;
  color: rgb(220, 226, 231);
}

.icp-info {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 10px 0;
}

.rights {
  grid-column: 1 / -1;
  justify-self: center;
}
/* 回到顶部 */
.scrollToTop {
  /* display: none; */
  position: relative;
  z-index: 300;
}
.scrollToTop a {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61baf1;
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 14px;
}

/* ------------------------------------------main----- */

/* section */
.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  display: grid;
  justify-items: center;
  max-width: 100%;
}
#about {
  padding: 70px 80px 32px;
}
section h2 {
  color: black;
  font-size: 34px;
}
section h2::after {
  content: '';
  display: block;
  width: 80%;
  height: 4px;
  background-color: #61baf1;
  margin: 0 auto;
  margin-top: 14px;
}
section > p {
  margin: 27px 0 60px 0;
  font-size: 18px;
  color: #727272;
}
/* 关于我们 */
.features {
  display: grid;
  grid-template-rows: 126px 126px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5vw;
  row-gap: 2vwk;
}
.feature {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
    'icon title'
    'icon content';
}
.feature .fas {
  grid-area: icon;
  font-size: 32px;
  color: var(--primary-color);
}
.fa-lightbulb:before {
  content: '\f0eb';
}
.fa-chart-line:before {
  content: '\f201';
}
.fa-shopping-cart:before {
  content: '\f07a';
}
.fa-desktop:before {
  content: '\f108';
}
.fa-tachometer-alt:before {
  content: '\f3fd';
}
.fa-server:before {
  content: '\f233';
}
.feature-content {
  color: #727272;
  margin-top: 7px;
}
/* 合作案例 */
.row {
  display: flex;
  left: 0;
  right: 0;

}
.image-wrapper {
  position: relative;
  width: 65vw;
  height: 55vw;
}
.image-wrapper img {
  display: block;
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.row > .col.vertical-center {
  display: flex;
  align-items: center;
}
.row > .col {
  max-width: 50%;
  flex: 1;
}
.row > .col .text {
  display: block;
  max-width: 70%;
}
.row > .col .text p {
  margin-bottom: 20px;
}
.row > .col .text h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
  font-size: 28px;
}
.row > .col .text a {
  color: #3475c6;
  text-decoration: none;
}

